.custom-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background-color: red;
    transform: scale(1.1);
}