/* Código para centrar un DIV tanto horizontal como veritcalmente en la pantalla */

body {                        /* Selecciona el elemento <body> para aplicar estilos */
    display: flex;            /* Establece el modelo de caja como Flexbox para alinear hijos */
    justify-content: center;  /* Centra horizontalmente los elementos hijos dentro del contenedor */
    align-items: center;      /* Centra verticalmente los elementos hijos dentro del contenedor */
    height: 100vh;            /* Define la altura del body como 100% de la ventana gráfica (viewport height) */
    margin: 0;                /* Elimina los márgenes predeterminados del body */
}
.div-centrado {               /* Selecciona elementos con la clase 'div-centrado' para aplicar estilos */
    width: 200px;             /* Establece el ancho del elemento en 200 píxeles */
    height: 200px;            /* Establece la altura del elemento en 200 píxeles */
}